<h1>Welcome to the Scrabble Calculator</h1>
<form action='/scrabble_answer'>
  <div class= "container">
    <label for="word">Please Enter Your Scrabble Word</label>
    <input id="word" type="text" name="word">
    <button type="submit" class="btn1">Calculate!</button>
  </div>
</form>
