<h1>Welcome to the Scrabble Calculator</h1>
<form action='/scrabble_answer'>
  <div class= "form-group">
    <label for="word">Please Enter Your Scrabble Word</label>
    <input id="word" type="text" name="word">
  </div>
  <button type="submit" class="btn">Calculate!</button>
</form>
